build-CppJsonParser_for_GitPirates-Desktop_Qt_5_9_1_MinGW_32bit2-Debug/debug/app.o
build-CppJsonParser_for_GitPirates-Desktop_Qt_5_9_1_MinGW_32bit2-Debug/Makefile
build-CppJsonParser_for_GitPirates-Desktop_Qt_5_9_1_MinGW_32bit2-Debug/Makefile.Release
build-CppJsonParser_for_GitPirates-Desktop_Qt_5_9_1_MinGW_32bit2-Debug/Makefile.Debug
build-CppJsonParser_for_GitPirates-Desktop_Qt_5_9_1_MinGW_32bit2-Debug/.qmake.stash

CMakeList.txt
*cmake-build-debug
*.idea
